/* Custom Styles For Coming Soon Site */

body {
    padding-top: 5rem;
    background: url(img/b1a.jpg);
    background-size:cover;
    background-attachment: fixed;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* Navbar */

.bg-dark {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 50px;
    width: 250px;
    text-align: center;
    transition:0.5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-color: #80bdff;
    box-shadow: 0px 0px 50px #80bdff;
}


/* Countdown Timer */

.timer p {
    font-size: 70px;
    font-weight: bold;
    word-spacing: 60px;
}

.days p {
    word-spacing: 80px;
}

/* Text Background */

.txt {
    background: rgba(0, 0, 0, 0.6);
    padding: 100px 10px;
}

/* Contact Form  */

.form-control {
    color: #80bdff !important;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 33px;
    transition:0.5s ease-in-out;
}

.form-control:focus {
    color: #fff!important;
    background-color: #00000030;
    border: 2px solid #80bdff;
    box-shadow: 0px 0px 50px #80bdff;
}

.form-control:hover {
    color: #fff!important;
    background-color: #00000030;
    border: 2px solid #80bdff;
    box-shadow: 0px 0px 50px #80bdff;
}

::placeholder {
    color: #fff!important;
    padding-left: 15px;
}

/* Button Primary */

.btn-primary {
    background: transparent;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 50px;
    width: 250px;
    text-align: center;
    transition:0.5s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    border-color: #80bdff;
    box-shadow: 0px 0px 50px #80bdff;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
    .timer p {
        font-size: 50px;
        word-spacing: 40px;
}
    .days p {
    word-spacing: 40px;
}
}

@media only screen and (max-width: 442px) {
    .timer p {
        font-size: 42px;
        word-spacing: 10px;
}
    .days p {
    word-spacing: 15px;
}
}


